table
{
    border-collapse: collapse;
}

th
{
    background-color: #afffa5;
    color: #0000FF;
    text-align: center;
    border: solid 0.25rem #2b8800;
}

td
{
    font-weight: bold;
    text-align: center;
    color: #0000FF;
    border: solid 0.25rem #2b8800;
}

.first
{
    background-color: #afffa5;
    font-weight: bold;
    text-align: center;
    color: #0000FF;
    border: solid 0.25rem #2b8800;
}

.multip
{
    color: #000000;
    font-weight: normal;
}